# Files to ignore from output directory
# All files so far
outputs/*.*

# Files to ignore from the project directory
uv4/*.*.*
uv4/*.*.bak
uv4/*.dep
uv4/*.bak
uv4/*.lst
uv4/*.scvd
uv4/*.BAT
uv4/*.uvopt
uv4/*.uvoptx

# Automatically created TMP files
*/*.TMP
