# Files to ignore from output directory
# All files so far
STM_firmware/outputs/*.*

# Files to ignore from the project directory
STM_firmware/uv4/*.*.*
STM_firmware/uv4/*.*.bak
STM_firmware/uv4/*.dep
STM_firmware/uv4/*.bak
STM_firmware/uv4/*.lst
STM_firmware/uv4/*.scvd
STM_firmware/uv4/*.BAT
STM_firmware/uv4/*.uvopt
STM_firmware/uv4/*.uvoptx

# Automatically created TMP files
*/*.TMP
STM_firmware/src/APP/*.TMP

# pycharm project xml files
host_app/cli_scripts/.idea/*.*

#visual studio IDE files
/host_app/CLI_env_master/.vs


# Mingw files generated with CodeBlocks

host_app/CLI_env_master/Debug/*.*
host_app/CLI_env_master/CLI_env_master/Debug/*.*


EspMQTTMaster/.pioenvs
EspMQTTMaster/.piolibdeps
EspMQTTMaster/.vscode/.browse.c_cpp.db*
EspMQTTMaster/.vscode/c_cpp_properties.json
EspMQTTMaster/.vscode/launch.json
